.text-purple {
    color: purple;
}
.text-center {
    text-align: center;
}
.text-center {
    text-align: center;
}
body {
}

body {
    background-color:#FFB6C1
;
}
p {
    color: #FF4500;
}
.kutu {
    width: 200px;
    height: 200px;
    background-color:#00BFFF ;
    text-align: center;
}


